/* 10 * 20  width: 20px height: 20px */

.board {
    width: 200px;
    height: 400px;
    background-color: orange;
    /* border: 1px solid black; */
}

.rowDiv {
    height: 20px;
}

.spanTetris {
    width: 20px;
    height: 20px;
    display: inline-block;
}